@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --vinho: #640d14;
  --vinho-escuro: #290508;
  --cinza: #ccc;
  --branco: #fff;
  --preto: #000;
}

.bg-primary-color {
  background-color: #640d14;
}

.bg-secondary-color {
  background-color: #ccc;
}

.bg-dark-color {
  background-color: #290508;
}

.primary-color {
  color: #fff;
}

.bg-secondary-color {
  color: #000;
}

/* NavBar */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav,
.nav-link,
.navbar-nav .show > .nav-link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.nav-link {
  text-transform: uppercase;
  position: relative;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.nav-link:after {
  left: 0;
  bottom: -10px;
}

.nav-link:before {
  right: 0;
  top: -10px;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover:after,
.nav-link:hover:before {
  width: 100%;
}

.navbar-nav {
  --bs-navbar-hover-color: none;
}

/* NavBar Img */

a.navbar-brand {
  margin: 0;
}

.logo {
  width: 3em;
}

#navbar-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Footer */

ul {
  list-style: none;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0e76a8;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25d366;
  color: #ffffff;
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer {
  height: auto;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #640d14;
  padding: 35px 0;
  background-color: #640d14;
  display: flex;
  justify-content: space-around;

  width: 100%;
}

footer section {
  min-width: 20%;
}

footer section h3 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
footer section h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ccc;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
footer section ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer section ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
footer section ul li a:hover {
  padding-left: 8px;
  color: #fff;
}

ul,
ol {
  padding-left: 0;
}
/*/ Main /*/

.privacidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  margin-bottom: 6em;
}

/* Estilos gerais */
.collapsible {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: var(--vinho-escuro);
  background: none;
  border: none;
  outline: none;
  font-size: 1.4em;
  transition: 0.4s;
  display: flex;
  margin-top: 1em;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid var(--vinho);
  display: inline-block;
  width: 30em;
  text-align: left;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.active,
.collapsible:hover {
  color: var(--vinho);
}

.collapsible:after {
  content: "\002B";
  color: var(--vinho);
  margin-left: 2em;
  font-size: 1em;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
  border: 1px solid var(--vinho);
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  position: absolute;
  right: 0;
}

.active:after {
  transform: rotate(180deg);
  transition: 0.5s;
  content: "\2212";
  border: 1px solid var(--vinho);
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 1.25em;
  letter-spacing: 1px;
  width: 50%;
}

.content.show {
  max-height: 500px;
}

.content,
.collapsible {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 50%;
}
