@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.results-title {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: var(--vinho-escuro);
  letter-spacing: 1px;
  font-size: 4em;
  margin-top: 0.4em;
  animation: fadeIn 5s;
}

.card-title {
  font-size: 1.25rem;
  text-align: center;
}

.card-text {
  margin-bottom: -10px;
  font-size: 1rem;
}

.card-img-results {
  height: 200px;
  object-fit: cover;
}

.card-group {
  margin-bottom: 1rem;
}
